http_interactions:
- request:
    method: get
    uri: https://doaj.org/api/v1/search/articles/license:CC-BY?page=1&pageSize=2
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      link: <https://doaj.org/api/v1/search/articles/license:CC-BY?page=1687241&pageSize=2>;
        rel=last, <https://doaj.org/api/v1/search/articles/license:CC-BY?page=2&pageSize=2>;
        rel=next
      status: HTTP/1.1 200 OK
      x-total-count: '3374481'
    body:
      encoding: UTF-8
      string: '{"last": "https://doaj.org/api/v1/search/articles/license:CC-BY?page=1687241&pageSize=2",
        "pageSize": 2, "timestamp": "2018-1029T17:38:50Z", "results": [{"last_updated":
        "2018-01-02T03:20:27Z", "id": "abbc2add34024e108151613949c0a5e5", "bibjson":
        {"end_page": "8", "start_page": "5", "author": [{"name": "Zoran Marjanovi\u0107"},
        {"name": "Maja Slavkovi\u0107-Jovanovi\u0107"}, {"name": "An\u0111elka Slavkovi\u0107"},
        {"name": "Ivona \u0110or\u0111evi\u0107"}], "abstract": "Penetration of air
        from the lungs into the space between the parietal and visceral pleura occurs
        in the neonatal population, and is potentially a very serious problem with
        the frequency 1-2%. It occurs idiopatically, though may be secondary, mostly
        in the field of the lung pathology or previous trauma of the lung parenchyma.
        The aim of the study was to assess the morbidity and mortality among hospitalized
        neonates with the clinical presentation o[...]
- request:
    method: get
    uri: https://doaj.org/api/v1/search/articles/Pinus%20contorta?page=1&pageSize=30&sort=year%3Adesc
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      link: <https://doaj.org/api/v1/search/articles/Pinus%20contorta?sort=year%3Adesc&page=2&pageSize=30>;
        rel=last, <https://doaj.org/api/v1/search/articles/Pinus%20contorta?sort=year%3Adesc&page=2&pageSize=30>;
        rel=next
      status: HTTP/1.1 200 OK
      x-total-count: '55'
    body:
      encoding: UTF-8
      string: '{"sort": "year:desc", "last": "https://doaj.org/api/v1/search/articles/Pinus%20contorta?sort=year%3Adesc&page=2&pageSize=30",
        "pageSize": 30, "timestamp": "2018-1029T17:38:51Z", "results": [{"last_updated":
        "2018-08-02T04:31:20Z", "id": "54daf5882a1a4d70b0c005474b3a9ea6", "bibjson":
        {"start_page": "e0196732", "author": [{"name": "Erika L Eidson"}, {"name":
        "Karen E Mock"}, {"name": "Barbara J Bentz"}], "journal": {"publisher": "Public
        Library of Science (PLoS)", "language": ["EN"], "license": [{"url": "http://journals.plos.org/plosone/s/content-license",
        "open_access": true, "type": "CC BY", "title": "CC BY"}], "title": "PLoS ONE",
        "country": "US", "number": "5", "volume": "13", "issns": ["1932-6203"]}, "title":
        "Low offspring survival in mountain pine beetle infesting the resistant Great
        Basin bristlecone pine supports the preference-performance hypothesis.", "month":
        "0", "link": [{"url": "http://europepmc.org/articles/PMC5929522?pdf=render",
        "type": "fulltext"}], "year": "2018", "identifier": [{"type": "eissn", "id":
        "1932-6203"}, {"type": "doi", "id": "10.1371/journal.pone.0196732"}], "abstract":
        "The preference-performance hypothesis states that ovipositing phytophagous
        insects will select host plants that are well-suited for their offspring and
        avoid host plants that do not support offspring performance (survival, development
        and fitness). The mountain pine beetle (Dendroctonus ponderosae), a native
        insect herbivore in western North[...]
