http_interactions:
- request:
    method: get
    uri: https://doaj.org/api/v1/search/journals/publisher:dove?page=1&pageSize=2
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      link: <https://doaj.org/api/v1/search/journals/publisher:dove?page=51&pageSize=2>;
        rel=last, <https://doaj.org/api/v1/search/journals/publisher:dove?page=2&pageSize=2>;
        rel=next
      status: HTTP/1.1 200 OK
      x-total-count: '102'
    body:
      encoding: UTF-8
      string: '{"last": "https://doaj.org/api/v1/search/journals/publisher:dove?page=51&pageSize=2",
        "pageSize": 2, "timestamp": "2018-1029T17:41:10Z", "results": [{"last_updated":
        "2017-12-11T13:47:50Z", "id": "926cf8cd8382437ea47ca28a1fd6a743", "bibjson":
        {"allows_fulltext_indexing": true, "archiving_policy": {"url": "https://www.dovepress.com/why_publish_with_dove.php?content_id=3365",
        "known": ["LOCKSS", "CLOCKSS"]}, "persistent_identifier_scheme": ["DOI"],
        "keywords": ["orphan", "drugs", "disease", "treatment"], "apc": {"currency":
        "USD", "average_price": 1780}, "deposit_policy": ["Sherpa/Romeo"], "article_statistics":
        {"url": "https://www.dovepress.com/why_publish_with_dove.php?content_id=3044",
        "statistics": true}, "title": "Orphan Drugs: Research and Reviews", "publication_time":
        16, "provider": "Dove Medical Press", "subject": [{"code": "RM1-950", "term":
        "Therapeutics. Pharmacology", "scheme": "LCC"}], "format": ["PDF", "HTML"],
        "plagiarism_detection": {"detection": true, "url": "http://www.dovepress.com/why_publish_with_dove.php?content_id=3225"},
        "apc_url": "https://www.dovepress.com/journal_pricing_bands.php?journal_id=136",
        "link": [{"url": "http://www.dovepress.com/orphan-drugs-research-and-reviews-journal",
        "type": "homepage"}, {"url": "https://www.dovepress.com/journal_pricing_bands.php?journal_id=136",
        "type": "waiver_policy"}, {"url": "http://www.dovepress.com/journal-editor-orphan-drugs-research-and-reviews-eic136",
        "type": "editorial_board"}, {"url": "http://www.dovepress.com/aims-and-scope-orphan-drugs-research-and-reviews-d295-j136",
        "type": "aims_scope"}, {"url": "http://www.dovepress.com/author_guidelines.php",
        "type": "author_instructions"}, {"url": "https://www.dovepress.com/why_publish_with_dove.php?content_id=3045",
        "type": "oa_statement"}], "oa_start": {"year": 2012}, "editorial_review":
        {"process": "Blind peer review", "url": "https://www.dovepress.com/peer_review_guidelines.php"},
        "author_copyright": {"url": "", "copyright": "False"}, "publisher": "Dove
        Medical Press", "language": ["EN"], "license": [{"open_access": true, "embedded":
        true, "title": "CC BY-NC", "url": "https://www.dovepress.com/why_publish_with_dove.php?content_id=3045",
        "NC": true, "ND": false, "embedded_example_url": "http://www.dovepress.com/access-to-cross-border-health-care-services-for-patients-with-rare-dis-peer-reviewed-article-ODRR",
        "SA": false, "type": "CC BY-NC", "BY": true}], "country": "GB", "submission_charges_url":
        "https://www.dovepress.com/journal_pricing_bands.php?journal_id=136", "author_publishing_rights":
        {"url": "", "publishing_rights": "False"}, "identifier": [{"type": "eissn",
        "id": "2230-6161"}]}, "created_date": "2014-08-01T12:07:19Z"}, {"last_updated":
        "2017-12-11T13:46:03Z", "id": "77574d87f6ab4882acc07091941028a9", "bibjson":
        {"allows_fulltext_indexing": true, "archiving_policy": {"url": "https://www.dovepress.com/why_publish_with_dove.php?content_id=3365",
        "known": ["LOCKSS", "CLOCKSS"]}, "persistent_identifier_scheme": ["DOI"],
        "keywords": ["hepatocellular carcinoma", "HBV", "cancer", "liver", "tumors"],
        "apc": {"currency": "USD", "average_price": 1780}, "de[...]
- request:
    method: get
    uri: https://doaj.org/api/v1/search/journals/journal?page=1&pageSize=30&sort=bibjson.oa_start.year%3Adesc
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      link: <https://doaj.org/api/v1/search/journals/journal?sort=bibjson.oa_start.year%3Adesc&page=191&pageSize=30>;
        rel=last, <https://doaj.org/api/v1/search/journals/journal?sort=bibjson.oa_start.year%3Adesc&page=2&pageSize=30>;
        rel=next
      status: HTTP/1.1 200 OK
      x-total-count: '5722'
    body:
      encoding: UTF-8
      string: '{"sort": "bibjson.oa_start.year:desc", "last": "https://doaj.org/api/v1/search/journals/journal?sort=bibjson.oa_start.year%3Adesc&page=191&pageSize=30",
        "pageSize": 30, "timestamp": "2018-1029T17:41:11Z", "results": [{"last_updated":
        "2018-05-29T14:02:25Z", "id": "8cb0875e38e242c0935bd92d5e04b4b2", "bibjson":
        {"allows_fulltext_indexing": true, "archiving_policy": {"url": "http://olabout.wiley.com/WileyCDA/Section/id-406156.html",
        "known": ["Portico"]}, "persistent_identif[...]
