http_interactions:
- request:
    method: get
    uri: https://doaj.org/api/v1/search/journals/bibjson.keywords:heritage?page=1&pageSize=10
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      link: <https://doaj.org/api/v1/search/journals/bibjson.keywords:heritage?page=9&pageSize=10>;
        rel=last, <https://doaj.org/api/v1/search/journals/bibjson.keywords:heritage?page=2&pageSize=10>;
        rel=next
      status: HTTP/1.1 200 OK
      x-total-count: '82'
    body:
      encoding: UTF-8
      string: '{"last": "https://doaj.org/api/v1/search/journals/bibjson.keywords:heritage?page=9&pageSize=10",
        "pageSize": 10, "timestamp": "2018-1029T17:41:10Z", "results": [{"last_updated":
        "2018-05-10T09:57:15Z", "id": "02233e98710842d4a296c3dc7e472aa4", "bibjson":
        {"allows_fulltext_indexing": true, "author_publishing_rights": {"url": "",
        "publishing_rights": "False"}, "keywords": ["cultural heritage"], "subject":
        [{"code": "GN301-674", "term": "Ethnology. Social and cultural anthropology",
        "scheme": "LCC"}], "article_statistics": {"url": "", "statistics": false},
        "title": "Journal Sampurasun", "publication_time": 24, "provider": "OJS",
        "format": ["PDF"], "plagiarism_detection": {"detection": false, "url": ""},
        "apc_url": "https://journal.unpas.ac.id/index.php/sampurasun/AuthorFee", "link":
        [{"url": "https://journal.unpas.ac.id/index.php/sampurasun", "type": "homepage"},
        {"url": "https://journal.unpas.ac.id/index.php/sampurasun/EditorialTeam",
        "type": "editorial_board"}, {"url": "https://journal.unpas.ac.id/index.php/sampurasun/FocusandScope",
        "type": "aims_scope"}, {"url": "https://journal.unpas.ac.id/index.php/sampurasun/AuthorGuidelines",
        "type": "author_instructions"}, {"url": "https://journal.unpas.ac.id/index.php/sampurasun/OpenAccessPolicy",
        "type": "oa_statement"}], "active": true, "oa_start": {"year": 2016}, "editorial_review":
        {"process": "Peer review", "url": "https://journal.unpas.ac.id/index.php/sampurasun/PeerReviewProcess"},
        "author_copyright": {"url": "", "copyright": "False"}, "publisher": "Universitas
        Pasundan", "language": ["EN", "ID"], "license": [{"open_access": true, "embedded":
        false, "title": "CC BY", "url": "https://journal.unpas.ac.id/index.php/sampurasun/CopyrightNotice",
        "NC": false, "ND": false, "embedded_example_url": "", "SA": false, "type":
        "CC BY", "BY": true}], "alternative_title": "Sampurasun Interdisciplinary
        Studies for Cultural Heritage", "country": "ID", "submission_charges_url":
        "https://journal.unpas.ac.id/index.php/sampurasun/AuthorFee", "identifier":
        [{"type": "pissn", "id": "2460-5735"}, {"type": "eissn", "id": "2460-5743"}]},
        "created_date": "2017-06-30T14:29:20Z"}, {"last_updated": "2018-05-10T09:58:58Z",
        "id": "1642c0a3d74d4218951a597b3ed1193e", "bibjson": {"allows_fulltext_indexing":
        true, "author_publishing_rights": {"url": "", "publishing_rights": "False"},
        "keywords": ["cultural heritage"], "subject": [{"code": "N", "term": "Fine
        Arts", "scheme": "LCC"}], "article_statistics": {"url": "", "statistics":
        false}, "title": "In Situ : Revue de Patrimoines", "publication_time": 40,
        "p[...]
