http_interactions:
- request:
    method: get
    uri: https://doaj.org/api/v1/search/journals/publisher:dove?page=1&pageSize=2
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
      link: <https://doaj.org/api/v1/search/journals/publisher:dove?page=52&pageSize=2>;
        rel=last, <https://doaj.org/api/v1/search/journals/publisher:dove?page=2&pageSize=2>;
        rel=next
      x-total-count: '103'
    body:
      encoding: UTF-8
      string: '{"last": "https://doaj.org/api/v1/search/journals/publisher:dove?page=52&pageSize=2",
        "pageSize": 2, "timestamp": "2019-09-04T17:01:59.591160Z", "results": [{"admin":
        {"ticked": true, "seal": false}, "last_updated": "2018-05-10T09:57:11Z", "id":
        "0172cf70305845508fb05fe7bcae115f", "bibjson": {"allows_fulltext_indexing":
        true, "archiving_policy": {"url": "http://www.dovepress.com/why_publish_with_dove.php?content_id=3365",
        "known": ["LOCKSS", "CLOCKSS", "PMC/Europe PMC/PMC Canada"]}, "persistent_identifier_scheme":
        ["DOI"], "keywords": ["patient satisfaction"], "apc": {"currency": "USD",
        "average_price": 2310}, "deposit_policy": ["Sherpa/Romeo"], "article_statistics":
        {"url": "https://www.dovepress.com/why_publish_with_dove.php?content_id=3044",
        "statistics": true}, "title": "Patient Preference and Adherence", "publication_time":
        16, "provider": "Dove Medical Press", "subject": [{"code": "R5-920", "term":
        "Medicine (General)", "scheme": "LCC"}], "format": ["PDF", "HTML"], "plagiarism_detection":
        {"detection": true, "url": "http://www.dovepress.com/why_publish_with_dove.php?content_id=3225"},
        "apc_url": "http://www.dovepress.com/journal_pricing_bands.php?journal_id=20",
        "link": [{"url": "http://www.dovepress.com/articles.php?journal_id=20", "type":
        "homepage"}, {"url": "http://www.dovepress.com/journal_pricing_bands.php?journal_id=20",
        "type": "waiver_policy"}, {"url": "http://www.dovepress.com/journal-editor-patient-preference-and-adherence-eic20",
        "type": "editorial_board"}, {"url": "http://www.dovepress.com/aims-and-scope-patient-preference-and-adherence-d16-j20",
        "type": "aims_scope"}, {"url": "http://www.dovepress.com/author_guidelines.php",
        "type": "author_instructions"}, {"url": "http://www.dovepress.com/why_publish_with_dove.php?content_id=3045",
        "type": "oa_statement"}], "oa_start": {"year": 2007}, "editorial_review":
        {"process": "Blind peer review", "url": "http://www.dovepress.com/peer_review_guidelines.php?content_id=2093"},
        "author_copyright": {"url": "http://www.dovepress.com/author_guidelines.php?content_id=695",
        "copyright": "False"}, "publisher": "Dove Medical Press", "language": ["EN"],
        "license": [{"open_access": true, "embedded": true, "title": "CC BY-NC", "url":
        "http://www.dovepress.com/why_publish_with_dove.php?content_id=3045", "NC":
        true, "ND": false, "embedded_example_url": "http://www.dovepress.com/patient-preference-and-ease-of-use-for-different-coagulation-factor-vi-peer-reviewed-article-PPA",
        "SA": false, "type": "CC BY-NC", "BY": true}], "country": "GB", "submission_charges_url":
        "http://www.dovepress.com/journal_pricing_bands.php?journal_id=20", "author_publishing_rights":
        {"url": "", "publishing_rights": "False"}, "identifier": [{"type": "pissn",
        "id": "1177-889X"}]}, "created_date": "2008-08-15T11:43:17Z"}, {"admin": {"ticked":
        true, "seal": false}, "last_updated": "2018-05-10T09:57:17Z", "id": "0268c76aee4b46d0b14370b783faab06",
        "bibjson": {"allows_fulltext_indexing": true, "archiving_policy": {"url":
        "http://www.dovepress.com/why_publish_with_dove.php?content_id=3365", "known":
        ["LOCKSS", "CLOCKSS"]}, "persistent_identifier_scheme": ["DOI"], "keywords":
        ["transplantation"], "apc": {"currency": "USD", "average_price": 1780}, "subjec[...]
- request:
    method: get
    uri: https://doaj.org/api/v1/search/journals/journal?page=1&pageSize=30&sort=bibjson.oa_start.year%3Adesc
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
      link: <https://doaj.org/api/v1/search/journals/journal?sort=bibjson.oa_start.year%3Adesc&page=208&pageSize=30>;
        rel=last, <https://doaj.org/api/v1/search/journals/journal?sort=bibjson.oa_start.year%3Adesc&page=2&pageSize=30>;
        rel=next
      x-total-count: '6213'
    body:
      encoding: UTF-8
      string: '{"sort": "bibjson.oa_start.year:desc", "last": "https://doaj.org/api/v1/search/journals/journal?sort=bibjson.oa_start.year%3Adesc&page=208&pageSize=30",
        "pageSize": 30, "timestamp": "2019-09-04T17:02:00.514667Z", "results": [{"admin":
        {"ticked": true, "seal": false}, "last_updated": "2019-03-19T16:46:05Z", "id":
        "1c0131a41ed34d3fbfd7afd45eb8aed3", "bibjson": {"allows_fulltext_indexing":
        false, "archiving_policy": {"url": "https://publishingsupport.iopscience.iop.org/quest[...]
