http_interactions:
- request:
    method: get
    uri: https://doaj.org/api/v2/search/journals/bibjson.publisher.name:ecology?page=1&pageSize=2
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      link: <https://doaj.org/api/v2/search/journals/bibjson.publisher.name:ecology?page=2&pageSize=2>;
        rel=next, <https://doaj.org/api/v2/search/journals/bibjson.publisher.name:ecology?page=5&pageSize=2>;
        rel=last
      x-total-count: '10'
    body:
      encoding: UTF-8
      file: no
      string: '{"total": 10, "page": 1, "pageSize": 2, "timestamp": "2020-11-25T16:06:17.567157Z",
        "query": "bibjson.publisher.name:ecology", "results": [{"id": "0820f23b681245f2bca8ab6f50148432",
        "created_date": "2012-08-24T12:06:32Z", "last_updated": "2020-09-02T07:15:16Z",
        "bibjson": {"boai": true, "eissn": "2220-721X", "publication_time_weeks":
        5, "title": "Computational Ecology and Software", "apc": {"has_apc": false,
        "url": "http://www.iaees.org/publications/journals/ces/author-guidelines.asp"},
        "article": {"license_display_example_url": "http://www.iaees.org/publications/journals/ces/articles/2015-5%281%29/local-stability-of-an-open-access-anchovy-fishery-model.pdf",
        "license_display": ["Embed"]}, "copyright": {"author_retains": true, "url":
        "http://www.iaees.org/publications/journals/ces/ethics.asp"}, "deposit_policy":
        {"has_policy": true, "service": ["Sherpa/Romeo"]}, "editorial": {"review_url":
        "http://www.iaees.org/publications/journals/ces/ethics.asp", "board_url":
        "http://www.iaees.org/publications/journals/ces/editorial.asp", "review_process":
        ["Double blind peer review"]}, "other_charges": {"has_other_charges": false,
        "url": "http://www.iaees.org/publications/journals/ces/author-guidelines.asp"},
        "pid_scheme": {"has_pid_scheme": false}, "plagiarism": {"detection": true,
        "url": "http://www.iaees.org/publications/journals/ces/ethics.asp"}, "preservation":
        {"has_preservation": false}, "publisher": {"name": "International Academy
        of Ecology and Environmental Sciences", "country": "HK"}, "ref": {"oa_statement":
        "http://www.iaees.org/publications/journals/ces/ces.asp", "journal": "http://www.iaees.org/publications/journals/ces/online-version.asp",
        "aims_scope": "http://www.iaees.org/publications/journals/ces/ces.asp", "author_instructions":
        "http://www.iaees.org/publications/journals/ces/author-guidelines.asp", "license_terms":
        "http://www.iaees.org/publications/journals/ces/ethics.asp"}, "waiver": {"has_waiver":
        false}, "keywords": ["ecology", "computer software", "artificial life", "technology",
        "computational mathematics"], "language": ["EN"], "license": [{"type": "CC
        BY", "BY": true, "NC": false, "ND": false, "SA": false}], "subject": [{"code":
        "T1-995", "scheme": "LCC", "term": "Technology (General)"}, {"code": "Q",
        "scheme": "LCC", "term": "Science"}]}, "admin": {"seal": false, "ticked":
        true}}, {"id": "30b58edb5eaf4fdca8245df8d5197a85", "created_date": "2020-07-20T09:08:01Z",
        "last_updated": "2020-07-21T09:58:51Z", "bibjson": {"alternative_title": "Forest
        Science Issues", "boai": true, "eissn": "2658-607X", "publication_time_weeks":
        12, "title": "\u0412\u043e\u043f\u0440\u043e\u0441\u044b \u043b\u0435\u0441\u043d\u043e\u0439
        \u043d\u0430\u0443\u043a\u0438", "apc": {"has_apc": false, "url": "http://jfsi.ru/en/"},
        "article": {"license_display": ["No"]}, "copyright": {"author_retains": true,
        "url": "http://jfsi.ru/en/editorial-ethics/"}, "deposit_policy": {"has_policy":
        false}, "editorial": {"review_url": "http://jfsi.ru/en/reviewing-procedure/",
        "board_url": "http://jfsi.ru/en/editorial-staff/", "review_process": ["Open
        peer review"]}, "institution": {"name": "Russian Academy of Sciences, Center
        for Forest Ecology and Productivity"}, "other_charges": {"has_other_charges":
        false, "url": "http://jfsi.ru/en/"}, "pid_scheme": {"has_pid_scheme": true,
        "scheme": ["DOI"]}, "plagiarism": {"detection": true, "url": "http://jfsi.ru/en/"},
        "preservation": {"has_preservation": true, "url": "https://elibrary.ru/title_about_new.asp?id=69396&langid=2",
        "national_library": ["eLIBRARY "]}, "publisher": {"name": "Russian Academy
        of Sciences, Center for Forest Ecology and Productivity", "country": "RU"},
        "ref": {"oa_statement": "http://jfsi.ru/en/", "journal": "http://jfsi.ru/",
        "aims_scope": "http://jfsi.ru/en/", "author_instructions": "http://jfsi.ru/en/article-typography-rules/",
        "license_terms": "http://jfsi.ru/en/"}, "waiver": {"has_waiver": false}, "keywords":
        ["ecology", "forests", "ecosystem functions", "ecosystem services", "gis technology"],
        "language": ["EN", "RU"], "license": [{"type": "CC BY", "BY": true, "NC":
        false, "ND": false, "SA": false}], "subject": [{"code": "SD1-669.5", "scheme":
        "LCC", "term": "Forestry"}]}, "admin": {"seal": false, "ticked": true}}],
        "next": "https://doaj.org/api/v2/search/journals/bibjson.publisher.name:ecology?page=2&pageSize=2",
        "last": "https://doaj.org/api/v2/search/journals/bibjson.publisher.name:ecology?page=5&pageSize=2"}'
  recorded_at: 2020-11-25 16:06:18 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://doaj.org/api/v2/search/journals/journal?page=1&pageSize=30&sort=bibjson.eissn%3Adesc
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      link: <https://doaj.org/api/v2/search/journals/journal?page=2&pageSize=30&sort=bibjson.eissn%3Adesc>;
  [...]
