http_interactions:
- request:
    method: get
    uri: https://doaj.org/api/v2/search/articles/license:CC-BY?page=1&pageSize=10
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      link: <https://doaj.org/api/v2/search/articles/license:CC-BY?page=2&pageSize=10>;
        rel=next, <https://doaj.org/api/v2/search/articles/license:CC-BY?page=541288&pageSize=10>;
        rel=last
      x-total-count: '5412874'
    body:
      encoding: UTF-8
      file: no
      string: '{"total": 5412874, "page": 1, "pageSize": 10, "timestamp": "2020-11-25T15:52:13.776061Z",
        "query": "license:CC-BY", "results": [{"last_updated": "2020-11-25T02:27:47Z",
        "bibjson": {"identifier": [{"id": "10.1038/s41467-020-15686-y", "type": "doi"},
        {"id": "2041-1723", "type": "eissn"}], "journal": {"volume": "11", "number":
        "1", "country": "GB", "license": [{"open_access": true, "title": "CC BY",
        "type": "CC BY", "url": "https://www.nature.com/ncomms/about/open-access"}],
        "issns": ["2041-1723"], "publisher": "Nature Publishing Group", "language":
        ["EN"], "title": "Nature Communications"}, "month": "4", "end_page": "6",
        "year": "2020", "start_page": "1", "subject": [{"code": "Q", "scheme": "LCC",
        "term": "Science"}], "author": [{"affiliation": "Institute for Diabetes Research
        and Metabolic Diseases of the Helmholtz Center Munich at the University of
        T\u00fcbingen", "name": "Stephanie Kullmann"}, {"affiliation": "Institute
        for Diabetes Research and Metabolic Diseases of the Helmholtz Center Munich
        at the University of T\u00fcbingen", "name": "Vera Valenta"}, {"affiliation":
        "Institute for Diabetes Research and Metabolic Diseases of the Helmholtz Center
        Munich at the University of T\u00fcbingen", "name": "Robert Wagner"}, {"affiliation":
        "Emergency Department, Marienhospital Stuttgart, Vinzenz von Paul Kliniken",
        "name": "Otto Tschritter"}, {"affiliation": "Institute for Diabetes Research
        and Metabolic Diseases of the Helmholtz Center Munich at the University of
        T\u00fcbingen", "name": "J\u00fcrgen Machann"}, {"affiliation": "Institute
        for Diabetes Research and Metabolic Diseases of the Helmholtz Center Munich
        at the University of T\u00fcbingen", "name": "Hans-Ulrich H\u00e4ring"}, {"affiliation":
        "Institute for Diabetes Research and Metabolic Diseases of the Helmholtz Center
        Munich at the University of T\u00fcbingen", "name": "Hubert Preissl"}, {"affiliation":
        "Institute for Diabetes Research and Metabolic Diseases of the Helmholtz Center
        Munich at the University of T\u00fcbingen", "name": "Andreas Fritsche"}, {"affiliation":
        "Institute for Diabetes Research and Metabolic Diseases of the Helmholtz Center
        Munich at the University of T\u00fcbingen", "name": "Martin Heni"}], "link":
        [{"content_type": "HTML", "type": "fulltext", "url": "http://link.springer.com/article/10.1038/s41467-020-15686-y"}],
        "abstract": "Brain insulin action regulates eating behavior and whole-body
        energy fluxes, however\u00a0the impact of brain insulin resistance on long-term
        weight and body fat composition is unknown. Here, the authors show that high
        brain insulin sensitivity is linked to weight loss during lifestyle intervention
        and associates with a favorable body fat distribution.", "title": "Brain insulin
        sensitivity is linked to adiposity and body fat distribution"}, "id": "00000b689df5492bb15d3ec8927a4f6d",
        "created_date": "2020-04-19T12:10:11Z"}, {"last_updated": "2020-11-25T01:45:46Z",
        "bibjson": {"identifier": [{"id": "0101-3335", "type": "pissn"}], "end_page":
        "440", "keywords": ["literatura argentina", "escritores argentinos - cr\u00edtica
        e interpreta\u00e7\u00e3o", "martinez, tom\u00e1s eloy - cr\u00edtica e interpreta\u00e7\u00e3o",
        "autobiografias", "peronismo (argentina)", "peron, juan domingo - biografia"],
        "year": "2013", "subject": [{"code": "P1-1091", "scheme": "LCC", "term": "Philology.
        Linguistics"}, {"code": "PN1-6790", "scheme": "LCC", "term": "Literature (General)"}],
        "author": [{"name": "Mitidieri, Andr\u00e9 Luis[...]
