http_interactions:
- request:
    method: get
    uri: https://doaj.org/api/v1/search/articles/license:CC-BY?page=1&pageSize=10
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      link: <https://doaj.org/api/v1/search/articles/license:CC-BY?page=337449&pageSize=10>;
        rel=last, <https://doaj.org/api/v1/search/articles/license:CC-BY?page=2&pageSize=10>;
        rel=next
      status: HTTP/1.1 200 OK
      x-total-count: '3374481'
    body:
      encoding: UTF-8
      string: '{"last": "https://doaj.org/api/v1/search/articles/license:CC-BY?page=337449&pageSize=10",
        "pageSize": 10, "timestamp": "2018-1029T17:38:49Z", "results": [{"last_updated":
        "2018-01-02T03:20:27Z", "id": "abbc2add34024e108151613949c0a5e5", "bibjson":
        {"end_page": "8", "start_page": "5", "author": [{"name": "Zoran Marjanovi\u0107"},
        {"name": "Maja Slavkovi\u0107-Jovanovi\u0107"}, {"name": "An\u0111elka Slavkovi\u0107"},
        {"name": "Ivona \u0110or\u0111evi\u0107"}], "abstract": "Penetration of air
        from the lungs into the space between the parietal and visceral pleura occurs
        in the neonatal population, and is potentially a very serious problem with
        the frequency 1-2%. It occurs idiopatically, though may be secondary, mostly
        in the field of the lung pathology or previous trauma of the lung parenchyma.
        The aim of the study was to assess the morbidity and mortality among hospitalized
        neonates with the clinical presentation o[...]
