http_interactions:
- request:
    method: get
    uri: https://doaj.org/api/v2/articles/0005e11ec616453f854070069385e057
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"id": "0005e11ec616453f854070069385e057", "created_date": "2014-05-22T09:30:38Z",
        "last_updated": "2020-11-24T23:35:43Z", "es_type": "article", "admin": {"in_doaj":
        true, "seal": true, "publisher_record_id": "1015", "upload_id": "f5bc15c78aa341eda23d2ba578107cbc"},
        "bibjson": {"title": "Where in the brain are the genes expressed", "year":
        "2008", "month": "4", "journal": {"volume": "2", "publisher": "Frontiers Media
        S.A.", "title": "Frontiers in Neuroinformatics", "country": "CH", "language":
        ["EN"]}, "identifier": [{"type": "eissn", "id": "1662-5196"}, {"type": "doi",
        "id": "10.3389/neuro.11.009.2007"}], "link": [{"type": "fulltext", "url":
        "http://journal.frontiersin.org/Journal/10.3389/neuro.11.009.2007/full", "content_type":
        "HTML"}], "author": [{"name": "Trygve B Leergaard", "affiliation": "Centre
        for Molecular Biology and Neuroscience & Institute for basic medical sciences,
        Univ Oslo"}, {"name": "Ilya Zaslavsky", "affiliation": "San Diego Supercomputer
        Center, UCSD"}], "subject": [{"scheme": "LCC", "term": "Neurosciences. Biological
        psychiatry. Neuropsychiatry", "code": "RC321-571"}]}}'
  recorded_at: 2020-11-25 15:52:12 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
