http_interactions:
- request:
    method: get
    uri: https://doaj.org/api/v1/search/journals/bibjson.keywords:heritage?page=1&pageSize=10
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
      link: <https://doaj.org/api/v1/search/journals/bibjson.keywords:heritage?page=10&pageSize=10>;
        rel=last, <https://doaj.org/api/v1/search/journals/bibjson.keywords:heritage?page=2&pageSize=10>;
        rel=next
      x-total-count: '95'
    body:
      encoding: UTF-8
      string: '{"last": "https://doaj.org/api/v1/search/journals/bibjson.keywords:heritage?page=10&pageSize=10",
        "pageSize": 10, "timestamp": "2019-09-04T17:01:58.958444Z", "results": [{"admin":
        {"ticked": true}, "last_updated": "2017-12-11T13:38:20Z", "id": "0110b60ed1ce453899e668620e67a3f0",
        "bibjson": {"allows_fulltext_indexing": true, "author_publishing_rights":
        {"url": "http://nailos.org/acerca-de/", "publishing_rights": "True"}, "keywords":
        ["paleoanthropology", "geoarchaeology", "paleoenvironmental studies", "ethnoarchaeology",
        "heritage"], "deposit_policy": ["Sherpa/Romeo", "Dulcinea"], "article_statistics":
        {"url": "", "statistics": false}, "title": "Nailos: Estudios Interdisciplinares
        de Arqueolog\u00eda", "publication_time": 14, "provider": "http://nailos.org/",
        "subject": [{"code": "CC1-960", "term": "Archaeology", "scheme": "LCC"}],
        "format": ["PDF"], "plagiarism_detection": {"detection": false, "url": ""},
        "link": [{"url": "http://nailos.org/", "type": "homepage"}, {"url": "http://nailos.org/acerca-de/",
        "type": "editorial_board"}, {"url": "http://nailos.org/acerca-de/", "type":
        "aims_scope"}, {"url": "http://nailos.org/normas-de-publicacion-revista-nailos/",
        "type": "author_instructions"}, {"url": "http://nailos.org/acerca-de/", "type":
        "oa_statement"}], "active": true, "oa_start": {"year": 2014}, "editorial_review":
        {"process": "Double blind peer review", "url": "http://nailos.org/acerca-de/"},
        "author_copyright": {"url": "http://nailos.org/acerca-de/", "copyright": "True"},
        "institution": "Asociaci\u00f3n de Profesionales Independientes de la Arqueolog\u00eda
        de Asturias (APIAA)", "publisher": "Asociaci\u00f3n de Profesionales Independientes
        de la Arqueolog\u00eda de Asturias (APIAA)", "language": ["ES"], "license":
        [{"open_access": true, "embedded": false, "title": "CC BY-NC-ND", "url": "http://nailos.org/acerca-de/",
        "NC": true, "ND": true, "embedded_example_url": "", "SA": false, "type": "CC
        BY-NC-ND", "BY": true}], "alternative_title": "Nailos", "country": "ES", "identifier":
        [{"type": "pissn", "id": "2340-9126"}, {"type": "eissn", "id": "2341-1074"}]},
        "created_date": "2014-05-19T16:03:52Z"}, {"admin": {"ticked": true, "seal":
        false}, "last_updated": "2018-05-10T09:57:15Z", "id": "02233e98710842d4a296c3dc7e472aa4",
        "bibjson": {"allows_fulltext_indexing": true, "author_publishing_rights":
        {"url": "", "publishing_rights": "False"}, "keywords": ["cultural heritage"],
        "subject": [{"code": "GN301-674", "term": "Ethnology. Social and cultural
        anthropology", "scheme": "LCC"}], "article_statistics": {"url": "", "statistics":
        false}, "title": "Journal Sampurasun", "publication_time": 24, "provider":
        "OJS", "format": ["PDF"], "plagiarism_detection": {"detection": false, "url":
        ""}, "apc_url": "https://journal.unpas.ac.id/index.php/sampurasun/AuthorFee",
        "link": [{"url": "https://journal.unpas.ac.id/index.php/sampurasun", "type":
        "homepage"}, {"url": "https://journal.unpas.ac.id/index.php/sampurasun/EditorialTeam",
        "type": "editorial_board"}, {"url": "https://journal.unpas.ac.id/index.php/sampurasun/FocusandScope",
        "type": "aims_scope"}, {"url": "https://journal.unpas.ac.id/index.php/sampurasun/AuthorGuidelines",
        "type": "author_instructions"}, {"url": "https://journal.unpas.ac.id/index.php/sampurasun/OpenAccessPolicy",
        "type": "oa_statement"}], "active": true, "oa_start": {"year": 2016}, "editorial_review":
        {"process": "Peer review", "url": "https://journal.unpas.ac.id/index.php/sampurasun/PeerReviewProcess"},
        "author_copyright": {"url": "", "copyright": "False"}, "publisher": "Universitas
        Pasundan", "language": ["EN", "ID"], "license": [{"open_access": true, "embedded":
        false, "title": "CC BY", "url": "https://journal.unpas.ac.id/index.php/sampurasun/CopyrightNotice",
        "NC": false, "ND": false, "embedded_example_url": "", "SA": false, "type":
        "CC BY", "BY": true}], "alternative_title": "Sampurasun Interdisciplinary
        Studies for Cultural Heritage", "country": "ID", "submission_charges_url":
        "https://journal.unpas.ac.id/index.php/sampurasun/AuthorFee", "identifier":
        [{"type": "pissn", "id": "2460-5735"}, {"type": "eissn", "id": "2460-5743"}]},
        "created_date": "2017-06-30T14:29:20Z"}, {"admin": {"ticked": true, "seal":
        false}, "last_updated": "2018-05-10T09:57:51Z", "id": "08d5436c19454e07a44b6205add55048",
        "bibjson": {"allows_fulltext_indexing": true, "archiving_policy": {"url":
        "http://ge-iic.com/ojs/index.php/revista/about/editorialPolicies#openAccessPolicy
        "}, "author_publishing_rights": {"url": "http://ge-iic.com/ojs/index.php/revista/about/submissions#copyrightNotice",
        "publishing_rights": "True"}, "keywords": ["cultural heritage", "conservation",
        "restoration", "arts", "methodology"], "subject": [{"code": "N", "term": "Fine
        Arts", "scheme": "LCC"}, {"code": "NX1-820", "term": "Arts in general", "scheme":
        "LC[...]
