http_interactions:
- request:
    method: get
    uri: https://doaj.org/api/v2/journals/f3f2e7f23d444370ae5f5199f85bc100
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"id": "f3f2e7f23d444370ae5f5199f85bc100", "created_date": "2003-10-09T00:00:00Z",
        "last_updated": "2020-02-03T14:13:19Z", "last_manual_update": "2016-05-24T11:42:30Z",
        "es_type": "journal", "bibjson": {"boai": true, "eissn": "1545-7885", "pissn":
        "1544-9173", "publication_time_weeks": 28, "title": "PLoS Biology ", "apc":
        {"has_apc": true, "url": "http://journals.plos.org/plosbiology/s/publication-fees",
        "max": [{"currency": "USD", "price": 2900}]}, "article": {"license_display_example_url":
        "http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1002339",
        "license_display": ["Embed"]}, "copyright": {"author_retains": true, "url":
        "http://journals.plos.org/plosbiology/s/content-license"}, "deposit_policy":
        {"has_policy": true, "service": ["Sherpa/Romeo"]}, "editorial": {"review_url":
        "http://journals.plos.org/plosbiology/s/editorial-and-peer-review-process",
        "board_url": "http://journals.plos.org/plosbiology/s/editorial-board", "review_process":
        ["Peer review"]}, "other_charges": {"has_other_charges": false, "url": "http://journals.plos.org/plosbiology/s/publication-fees"},
        "pid_scheme": {"has_pid_scheme": true, "scheme": ["DOI"]}, "plagiarism": {"detection":
        true, "url": "http://journals.plos.org/plosbiology/s/ethical-publishing-practice#loc-plagiarism"},
        "preservation": {"has_preservation": true, "url": "http://journals.plos.org/plosbiology/s/publishing-information",
        "service": ["LOCKSS", "PMC"]}, "publisher": {"name": "Public Library of Science
        (PLoS)", "country": "US"}, "ref": {"oa_statement": "http://journals.plos.org/plosbiology/s/journal-information#loc-open-access",
        "journal": "http://journals.plos.org/plosbiology/", "aims_scope": "http://journals.plos.org/plosbiology/s/journal-information#loc-scope",
        "author_instructions": "http://journals.plos.org/plosbiology/s/submission-guidelines",
        "license_terms": "http://journals.plos.org/plosbiology/s/content-license"},
        "waiver": {"has_waiver": true, "url": "https://www.plos.org/publications/publication-fees/plos-publication-fee-assistance/"},
        "keywords": ["biology", "molecular biology", "ecology"], "language": ["EN"],
        "license": [{"type": "CC BY", "BY": true, "NC": false, "ND": false, "SA":
        false}], "subject": [{"code": "QH301-705.5", "scheme": "LCC", "term": "Biology
        (General)"}]}, "admin": {"in_doaj": true, "ticked": true, "seal": true}}'
  recorded_at: 2020-11-25 15:52:16 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
[...]
