http_interactions:
- request:
    method: get
    uri: https://doaj.org/api/v2/search/journals/bibjson.keywords:heritage?page=1&pageSize=10
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      link: <https://doaj.org/api/v2/search/journals/bibjson.keywords:heritage?page=2&pageSize=10>;
        rel=next, <https://doaj.org/api/v2/search/journals/bibjson.keywords:heritage?page=12&pageSize=10>;
        rel=last
      x-total-count: '112'
    body:
      encoding: UTF-8
      file: no
      string: '{"total": 112, "page": 1, "pageSize": 10, "timestamp": "2020-11-25T15:52:17.068126Z",
        "query": "bibjson.keywords:heritage", "results": [{"id": "02233e98710842d4a296c3dc7e472aa4",
        "created_date": "2017-06-30T14:29:20Z", "last_updated": "2020-02-03T14:13:06Z",
        "bibjson": {"alternative_title": "Sampurasun Interdisciplinary Studies for
        Cultural Heritage", "boai": true, "eissn": "2460-5743", "pissn": "2460-5735",
        "publication_time_weeks": 24, "title": "Journal Sampurasun", "apc": {"has_apc":
        false, "url": "https://journal.unpas.ac.id/index.php/sampurasun/AuthorFee"},
        "article": {"license_display": ["No"]}, "copyright": {"author_retains": false},
        "deposit_policy": {"has_policy": false}, "editorial": {"review_url": "https://journal.unpas.ac.id/index.php/sampurasun/PeerReviewProcess",
        "board_url": "https://journal.unpas.ac.id/index.php/sampurasun/EditorialTeam",
        "review_process": ["Peer review"]}, "other_charges": {"has_other_charges":
        false, "url": "https://journal.unpas.ac.id/index.php/sampurasun/AuthorFee"},
        "pid_scheme": {"has_pid_scheme": false}, "plagiarism": {"detection": false},
        "preservation": {"has_preservation": false}, "publisher": {"name": "Universitas
        Pasundan", "country": "ID"}, "ref": {"oa_statement": "https://journal.unpas.ac.id/index.php/sampurasun/OpenAccessPolicy",
        "journal": "https://journal.unpas.ac.id/index.php/sampurasun", "aims_scope":
        "https://journal.unpas.ac.id/index.php/sampurasun/FocusandScope", "author_instructions":
        "https://journal.unpas.ac.id/index.php/sampurasun/AuthorGuidelines", "license_terms":
        "https://journal.unpas.ac.id/index.php/sampurasun/CopyrightNotice"}, "waiver":
        {"has_waiver": false}, "keywords": ["cultural heritage"], "language": ["EN",
        "ID"], "license": [{"type": "CC BY", "BY": true, "NC": false, "ND": false,
        "SA": false}], "subject": [{"code": "GN301-674", "scheme": "LCC", "term":
        "Ethnology. Social and cultural anthropology"}]}, "admin": {"seal": false,
        "ticked": true}}, {"id": "0363f2df5e80496fabf11a8ba5853a58", "created_date":
        "2020-07-03T13:52:12Z", "last_updated": "2020-07-03T13:52:12Z", "bibjson":
        {"boai": true, "eissn": "1980-4466", "publication_time_weeks": 30, "title":
        "Revista CPC", "apc": {"has_apc": false, "url": "http://www.revistas.usp.br/cpc/about"},
        "article": {"license_display": ["No"]}, "copyright": {"author_retains": true,
        "url": "http://www.revistas.usp.br/cpc/about/submissions"}, "deposit_policy":
        {"has_policy": true, "service": ["Diadorim"]}, "editorial": {"review_url":
        "http://www.revistas.usp.br/cpc/about", "board_url": "http://www.revistas.usp.br/cpc/about/editorialTeam",
        "review_process": ["Double blind peer review"]}, "institution": {"name": "Universidade
        de S\u00e3o Paulo (USP), Centro de Preserva\u00e7\u00e3o Cultural"}, "other_charges":
        {"has_other_charges": false, "url": "http://www.revistas.usp.br/cpc/about"},
        "pid_scheme": {"has_pid_scheme": true, "scheme": ["DOI"]}, "plagiarism": {"detection":
        false}, "preservation": {"has_preservation": true, "url": "http://www.revistas.usp.br/wp/?page_id=2236",
        "service": ["PKP PN"]}, "publisher": {"name": "Universidade de S\u00e3o Paulo
   [...]
