http_interactions:
- request:
    method: get
    uri: https://doaj.org/api/v1/search/articles/license:CC-BY?page=1&pageSize=2
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
      link: <https://doaj.org/api/v1/search/articles/license:CC-BY?page=2087783&pageSize=2>;
        rel=last, <https://doaj.org/api/v1/search/articles/license:CC-BY?page=2&pageSize=2>;
        rel=next
      x-total-count: '4175566'
    body:
      encoding: UTF-8
      string: '{"last": "https://doaj.org/api/v1/search/articles/license:CC-BY?page=2087783&pageSize=2",
        "pageSize": 2, "timestamp": "2019-09-04T17:00:48.736201Z", "results": [{"last_updated":
        "2019-08-29T17:51:43Z", "id": "00000d914fd04a18adf84e756444ec98", "bibjson":
        {"end_page": "440", "start_page": "431", "author": [{"name": "Mitidieri, Andr\u00e9
        Luis"}, {"name": "Guimar\u00e3es, Let\u00edcia Batista"}, {"name": "Mazzutti,
        Luciana Helena Cajas"}], "abstract": "O presente artigo centra-se em Las memorias
        del General (1996) e Las vidas del General (2004), do ficcionista e jornalista
        argentino Tom\u00e1s Eloy Mart\u00ednez, enfatizando o sujeito do enunciado
        e o referente hist\u00f3rico. Apresentamos as reformula\u00e7\u00f5es julgadas
        significativas entre a primeira e a segunda dessas edi\u00e7\u00f5es, antes
        de procedermos \u00e0 an\u00e1lise do papel desempenhado pela mem\u00f3ria,
        pela narrativa e pela reescrita do eu nos artigos que as comp\u00f5em: 1)
        \u0093Las memorias de Puerta de Hierro\u0094; 2) \u0093D\u00edas de exilio
        en Madrid \u0094; 3) \u0093Per\u00f3n y sus novelas\u0094. A voz autobiogr\u00e1fica
        do ex-presidente da Argentina, impressa nas entrevistas concedidas a Mart\u00ednez,
        passa pelas reavalia\u00e7\u00f5es do autor no primeiro artigo, deposita-se
        residualmente no segundo texto, de car\u00e1ter biogr\u00e1fico, e se une
        \u00e0 pr\u00f3pria voz autobiogr\u00e1fica do escritor no terceiro e nos
        paratextos dos livros analisados, em processo que permite notar as fronteiras
        cont\u00edguas entre narrativas memorial\u00edsticas, biogr\u00e1ficas, hist\u00f3ricas
        e autobiogr\u00e1ficas", "title": "Tom\u00e1s Eloy Mart\u00ednez e as (des)mem\u00f3rias
        de Juan Domingo Per\u00f3n = Tom\u00e1s Eloy Mart\u00ednez and the (des)memories
        of Juan Domingo Per\u00f3n", "month": "1", "link": [{"url": "http://revistaseletronicas.pucrs.br/ojs/index.php/fale/article/view/15435/10129",
        "type": "fulltext", "content_type": "pdf"}], "year": "2013", "keywords": ["LITERATURA
        ARGENTINA", "ESCRITORES ARGENTINOS - CR\u00cdTICA E INTERPRETA\u00c7\u00c3O",
        "MARTINEZ, TOM\u00c1S ELOY - CR\u00cdTICA E INTERPRETA\u00c7\u00c3O", "AUTOBIOGRAFIAS",
        "PERONISMO (ARGENTINA)", "PERON, JUAN DOMINGO - BIOGRAFIA"], "identifier":
        [{"type": "pissn", "id": "0101-3335"}], "journal": {"publisher": "Pontif\u00edcia
        Universidade Cat\u00f3lica do Rio Grande do Sul", "language": ["ES", "PT"],
        "license": [{"url": "http://revistaseletronicas.pucrs.br/ojs/index.php/fale/index",
        "open_access": true, "type": "CC BY", "title": "CC BY"}], "title": "Letras
        de Hoje", "country": "BR", "number": "4", "volume": "48", "issns": ["0101-3335",
        "1984-7726"]}, "subject": [{"scheme": "LCC", "term": "Philology. Linguistics",
        "code": "P1-1091"}, {"scheme": "LCC", "term": "Literature (General)", "code":
        "PN1-6790"}]}, "created_date": "2019-06-26T11:40:25Z"}, {"last_updated": "2019-02-21T14:47:55Z",
        "id": "000011857dbc42afb0f1a8c7e35ab46f", "bibjson": {"end_page": "1740",
        "start_page": "1737", "author": [{"affiliation": "Department of Ophthalmology,
        No.2 People''s Hospital of Xintai, Xintai 271200, Shandong Province, China",
        "name": "Bo Gao"}, {"affiliation": "Department of Ophthalmology, Yankuang
        Group General Hospital, Jining 273500, Shandong Province, China", "name":
        "Mao-Lan Yang"}, {"affiliation": "Department of Ophthalmology, Affiliated
        Hospital of Taishan Medical University, Tai''an 271000, Shandong Province,
        China", "name": "Jiu-Min Yuan"}], "abstract": "[...]
- request:
    method: get
    uri: https://doaj.org/api/v1/search/articles/Pinus%20contorta?page=1&pageSize=30&sort=year%3Adesc
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
      link: <https://doaj.org/api/v1/search/articles/Pinus%20contorta?sort=year%3Adesc&page=3&pageSize=30>;
        rel=last, <https://doaj.org/api/v1/search/articles/Pinus%20contorta?sort=year%3Adesc&page=2&pageSize=30>;
        rel=next
      x-total-count: '70'
    body:
      encoding: UTF-8
      string: '{"sort": "year:desc", "last": "https://doaj.org/api/v1/search/articles/Pinus%20contorta?sort=year%3Adesc&page=3&pageSize=30",
        "pageSize": 30, "timestamp": "2019-09-04T17:00:49.376984Z", "results": [{"last_updated":
        "2019-06-06T15:44:10Z", "id": "98b68f914c8e45c6beb092f897c212d2", "bibjson":
        {"end_page": "63", "start_page": "58", "author": [{"affiliation": "Saint-Petersburg
        State Forest Technical University named after S.M. Kirov, Institutsky per.
        5, 194021, St. Pe[...]
